body {
  background-color: hsl(0, 0%, 96%);
}

.icon {
  width: 65px;
  height: 65px;
}

.Del_Add_icon {
  width: 40px;
  height: 40px;
}


.icon-container {
display: flex;
position: absolute;
top: 0;
right: 0;
padding: 3px;
}

.line {
  border: none;
  border-top: 4px solid black;
  margin: 20px 0;
}

h6{
font-weight: bold;
}

.Drop{
width: 20px;
height: 20px;
}


.option {
width: 500px;
height: 500px;
}

.admin-button {
border-radius: 20px;
padding: 10px 20px;
font-size: 16px;
border: 1px solid grey;
}

.dropCrouse{
background-color: firebrick;
color: white;
padding: 10px 60px;
margin: 10px 0px;
border-radius: 5px;
border: none;
font-size: 16px;
cursor: pointer;
}

.addCrouse{
background-color: seagreen;
color: white;
padding: 10px 60px;
margin: 10px 0px;
border-radius: 5px;
border: none;
font-size: 16px;
cursor: pointer;
}

.white-row {
background-color: #fff;
}

.other-row {
background-color: #f2f2f2;
}

.search_Input {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #0077b6;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  /* Additional properties to make the input look like the select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 8px 4px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

.search_button{
  padding: 80px; 
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #0077b6;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}