td div {
  margin-bottom: 5px;
  padding: 3px 3px;
}


.output-text {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.output-text div:first-child {
  margin-top: 10px;
}

.greencolour {
  background-color: #c8e6c9 !important;
}

.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin-right: 0.5rem;
}

select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.confirmButton {
  width: 80px;
  height: 40px;
  padding: 0px;
  border-radius: 20px;
  background-color: #0077b6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: #023e8a;
}

.confirmButton:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 10000px;

  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 1.6rem;
  font-weight: bold;

}

.table th,
.table td {
  border: 2px solid #0077b6;
  padding: 15px 20px;
  text-align: center;
}

.table th {
  background-color: #0077b6;
  color: #fff;
}

.table td {
  background-color: #fff;
  color: #060a0c;
}

.table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}



.fontUsed {
  font-size: '1.7rem'
}


.container {
  margin-top: 10px;
}


select {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #0077b6;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

select:hover,
select:focus {
  background-color: #0077b6;
  color: #fff;
  outline: none;
}

.notificationButton {
  background-color: rgb(150, 211, 150);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.notificationButton:hover {
  background-color: #2ecc71;
}